// $colorBlue: #0070c0;
// $colorBlue: #005fa3;
// $colorBlue: #008bee;
$colorBlue: #007bdf;
// $colorBlue: #0496ff;
$colorLightBlue: #0496ff;
$colorDarkBlue: #021cb0;

$headerTopHeight: 9vh;
$headerTopMaxHeight: 80px;
$headerTopMinHeight: 30px;

$columnsTablet: 8;
$columnsDesktop: 12;
