// $colorBlue: #0070c0;
// $colorBlue: #005fa3;
// $colorBlue: #008bee;
$colorBlue: #007bdf;
// $colorBlue: #0496ff;
$colorLightBlue: #0496ff;

$headerTopHeight: 10vh;
$headerTopMaxHeight: 90px;
$headerTopMinHeight: 30px;
